/*p-1.1*/
*{margin: 0;padding: 0;}
#wrap{
		background-color:#f0f0f0;
/*		height: 1200px;
*/		margin: 10px;
		border: 1px solid #CCCCCC; 
		box-shadow:0px 20px 0px 0px;
		}
.box1{
		width: 50%;
		height: 110px;
		margin: 0 auto;
		padding-top: 300px;
		}
.box1 img{
		float: left;
		margin: auto 10px;
		}
.box1 p{/*float: left;*/
		font: 40px/1.5px "微软雅黑";
		margin:30px ;
		text-align: center;
		}
.box2{/*width: 50%;*/
		text-align: center;
	/*float: right;margin-right:380px;*/
		padding-top: 80px;
		}
.box2 h2{margin: 20px 0;}
.mes1{
		display: inline-block;
		margin: 30px auto;
		background: #CCCCCC;
		padding: 5px;
		}
.box2 span{
		color: #ccc;
		border: 1px solid #ccc;
		margin: 10px;
		}
.box2 form{
		text-align: center;
		margin: 10px 240px;
		}
.box2 input{
		margin: 10px;
		}
.btn1{
		border-radius: 5px;
		background: #fff;
		border: 1px solid #CCCCCC;
		}
.btn2{
		width: 260px;
		background: #fff;
		border-radius: 5px;
		margin: 20px auto;
		border: 1px solid #CCCCCC;
		}
/*		p1.2.1
*/		*{margin: 0;padding: 0;}
			#outer{
					height: 1200px;
					background: #f0f0f0;
					position: relative;
					top: 0;
					left:0 ;
					width: 100%;
					z-index: 666;
					}
			.left{
					background: #ccc;
					width:220px;
					height:1200px;
					padding: 10px 0;
					text-align: center;
					float: left;
					}
			.left h2{margin-top:100px;}
			.l-mes1{
					color: #fff;
					font-size: 22px;
					background:#666666;
					padding: 30px 60px;
					}
			.l-mes2{
					font-size: 22px;
					}
			.l-mes1 a{
					text-decoration: none;
					color: #fff;
					}
			.title a,.l-mes2 a{
					text-decoration: none;
					color: #000000;
					}
			.right{
					float: left;
					}
			.right h1{
					margin: 60px 80px;
					}
			.right form{
					margin: 50px 50px 10px;
					}
			.tb{
					text-align: center;
					background: #FFFFFF;
					margin: 20px 50px;
					}
			.about button{
					background: #FFFFFF;
					border: 1px solid #CCCCCC;
					padding: 5px 20px;
					border-radius: 10px;
					}
			.bottom{
					background:goldenrod;
					width: 620px;
					height: 200px;
					margin:60px 180px 0 ;
					padding: 20px;
					box-shadow:4px 4px 6px #666;
					}
			#win{
					width: 1000px;
					height: 40px;
					background: #F0F0F0;
					border: 1px solid #ccc;
					}
			#win p{
					text-align: center;
					padding-top:10px;
					}
			#close{
					float: right;
					border: 1px solid #CCCCCC;
					background: #FFFFFF;
					padding: 0 5px;
					cursor: pointer;
					}
			.main{
					width: 1000px;
					height:300px;
					background: #FFFFFF;
					}
			.m-left{
					width: 50%;
					height:300px ;
					border: 1px solid #CCCCCC;
					float: left;
					padding: 30px;
					}
			.m-right{
					width: 50%;
					height:300px ;
					border: 1px solid #CCCCCC;
					float: left;padding: 30px;
					}
			.w-footer{
					width:1000px;
					height: 50px;
					background: #F0F0F0;
					border: 1px solid #CCCCCC;
					}
			.btn2{
					background: #FFFFFF;
					margin:10px;
					border-radius: 5px;
					padding: 0 10px;
					float: right;
					}
/*					p-1.2.1报到弹出框
*/
			#wrap{
/*					display:none;
*/					position:absolute;
					top:60px;left:80px;
					z-index:1000 ;
					}
			#w-bottom{
					width: 600px;
					height: 200px;
					border: 1px solid #CCCCCC;
					display:none;
					position: absolute;
					top:25%;left:25% ;
					z-index: 1000;
					background: #Fff;
					}
			.w-close{
					background: #F0F0F0;
					position: relative;
					margin-top: -10px;
					}
			.w-close h4{
					position: relative;
					top: 0;
					left: 10px;
					padding: 5px 0;
					}
			#close1{
					border: 1px solid #CCCCCC;
					background: #FFFFFF;
					cursor: pointer;
					position: absolute;
					top: 0;right: 0;
					padding: 0 5px;
					z-index: 1000;
					}
			.w-mes{
					margin-left: 80px;
					padding-top: 20px;
					}
			.w-btn{
					background: #FFFFFF;
					border-radius: 5px;
					padding: 0 50px;
					margin: 30px 60px;
					}
	/*p-1.3.1*/
			